


<div class="row">
  <div class="col-sm-12">
    <div class="box bordered-box red-border" style="margin-bottom:0;">
      <div class="box-header red-background">
        <div class="title">Look at all these things you should avoid</div>
      </div>
      <div class="box-content box-no-padding">
        <div class="responsive-table">

      <div class="col-sm-12 text-right">
          
              <%= search_form_for @search do |f| %>
       <div class="navbar-form navbar-right" >
        <%= f.text_field :title_or_location_cont, :class => "form-control input-sm"  %>
        <div class="actions"><%= f.submit "Search", :class => "icon-signout" %></div>
      <% end %>
        </div>
        </div>
      </div>
          <div class="scrollable-area">
            <table class="table table-hover table-striped" style="margin-bottom:0;">
              <thead>
                <tr>
                  <th><%= sort_link @search, :name, "Title" %></th>

                  <th><%= sort_link @search, :severity, "Severity" %></th>
      
                 <th><%= sort_link @search, :location, "Location" %></th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
              <% @events.each do |event| %>
              <tr>

              <td><%= link_to(event.title, event) %></td>

              <td><%= link_to(event.severity, event) %></td>
              
              <td><%= link_to(event.location, event) %></td>

              <tr>
              <% end %> 

              </tbody>
          
            </table>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







