<h1> <%= @event.title %> </h1>

      <p>
        <strong>Severity:</strong>
        <%= @event.severity %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @event.description %>
      </p>


      <p>
        <strong>Location:</strong>
        <%= @event.location %>
      </p>

      <p>
        <strong>Date:</strong>
        <%= @event.date %>
      </p>

      <p>
        <strong>Start Time:</strong>
        <%= @event.start_time %>
      </p>

      <p>
        <strong>End Time:</strong>
        <%= @event.end_time %>
      </p>

      <%= button_to "Update Event", controller: "events", action: "edit", id: @event %>
    



    
