<!DOCTYPE html>
<html>
<head>
  <title>Crowdedapp</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav class="navbar navbar-default">
 
    <!-- crowded logo -->
   <%= link_to 'Crowded', events_path, :class => "navbar-brand" %>
 
    <!-- main nav toggler (show/hide) -->
    <a class="toggle-nav btn pull-left" href="#">
      <i class="icon-reorder"></i>
    </a>
 
    <!-- dropdowns -->
    <ul class="nav">
 
      <!-- dark dropdown & user menu -->
      <li class="dropdown dark user-menu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <% if user_signed_in? %>
          <%= current_user.email %>
          <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
 
        </a>
        <ul class="dropdown-menu">
              <li>
                <%= link_to 'Edit profile', edit_user_registration_path, :class => "icon-user" %>
              </li>
              <li class="divider"></li>
              <li>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => "icon-signout" %>
              </li>
            </ul>
      </li>
    </ul>
 
    <!-- search form - hidden on phone -->
    
  </nav>
</header>


<div id="wrapper">
      <div id="main-nav-bg"></div>
      <nav id="main-nav">
        <div class="navigation">
          <div class="search">
            <form action="search_results.html" method="get">
              <div class="search-wrapper">
                <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text">
                <button class="btn btn-link icon-search" name="button" type="submit"></button>
              </div>
            </form>
      </div>
   
      <!-- navigation shizzle -->
      <ul class="nav nav-stacked">
   
        <li class="active">
          <%= link_to events_path do  %>
            <i class="icon-home"></i>
            <span>Home</span>
            <% end %>
        </li>
        
        <li class="active">
          <%= link_to new_event_path do  %>
            <i class="icon-plus"></i>
            <span>Add Event</span>
            <% end %>
        </li>
      </ul>

      </div>
    </div>
  </nav>
  </div>
</div>

<section id="content">
  <% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>

<div id="map"></div>
<%= yield %>
</section>

<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
</body>
</html>

